*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
body{
    height: 100vh;
    background-color:rgb(50, 149, 206);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.notification{
    height: 10vh;
    padding: 2.5vh 0;
    display: flex;
    justify-content: center;
    color: #b42126;
    background-color: rgb(250, 215, 215);
    display: none;
}
.weather,.notification h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather{
    height: 60vh;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 20vh;
}
.temp{
    display: flex;
}
.tempNplace{
    position: relative;
    top: 25px;
    left: 20px;
}
.temperature{
    font-size: 70px;
}